/* Andres Soruco */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Potta+One&display=swap');

body {
    font-size: 16px;
    background-color: rgb(0, 47, 255, 0.15);
}

p {
    font-family: 'Hachi Maru Pop', cursive;
}

h1,
h2,
h3,
h4 {
    font-family: 'Potta One', cursive;
}

#title {
    background-color: rgb(0, 47, 255);
    color: white;
    text-align: center;
}

#menuBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#menuBarList {
    grid-column: 1;
}

li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));

}